{% extends 'blog/backend/backend_base.html' %}
{% block backendcontent %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>标题</th>
            <th>分类</th>
            <th>作者</th>
            <th>标签</th>
            <th>添加日期</th>
            <th>浏览量</th>
            <th>删除</th>                                    
            <th>编辑</th>                                    

        </tr>
    </thead>
    <tbody>
        {% for article in article_list %}
        <tr>
            <td><a href="{% url 'blog:post_detail' article.id %}">{{ article.title }}</a></td>
            <td>{{ article.category }}</td>
            <td>{{ article.owner }}</td>
            <td>{{ article.tags }}</td>
            <td>{{ article.add_date }}</td>
            <td>{{ article.pv }}</td>
            <td><a>删除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock backendcontent %}


    